@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.typed-text {
  border-right: 0.15em solid white;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

.cursor {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  25% {
    opacity: 0.25;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}